# python files
*.py

# Prerequisites
*.d
.vscode
.vscode/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj
b64/*.o
net/*.o
argparser/*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
b64/*.dll
net/*.dll
argparser/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
server
client